container_commands:
  01_migrate:
    command: "python /code/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python /code/manage.py createsu"
    leader_only: true
  04_loaddata:
    command: "python /code/manage.py loaddata company"
  05_run:
    command: "python /code/manage.py runserver 0.0.0.0:8080"
