container_commands:
  01_migrate:
    command: "python /code/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python /code/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python /code/manage.py collectstatic --noinput"
  04_loaddata:
    command: "python /code/manage.py loaddata company"
  05_run:
    command: "python /code/manage.py runserver 0.0.0.0:8080"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotd.settings"
    "PYTHONPATH": "/opt/python/current/app/credsite:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:docker":
    WSGIPath: credsite/credsite/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:docker:staticfiles":
    "/static/": "www/static/"
